@page "/documents/shared"
@using ContosoDashboard.Pages.Documents
@attribute [Authorize]

<PageTitle>Shared With Me</PageTitle>

<DocumentLayout Title="Shared With Me">
    <div class="alert alert-info">
        Shared document support is coming soon. Documents shared with you will appear here once sharing is enabled.
    </div>
</DocumentLayout>
